*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Segoe UI",sans-serif;
}

body{
    min-height:100vh;
    background:linear-gradient(
        135deg,
        #667eea,
        #764ba2
    );
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.container{
    width:100%;
    max-width:700px;
    background:white;
    border-radius:20px;
    padding:30px;
    box-shadow:
        0 15px 35px rgba(0,0,0,.2);
}

h1{
    text-align:center;
    color:#1e293b;
    margin-bottom:10px;
}

.subtitle{
    text-align:center;
    color:#64748b;
    margin-bottom:25px;
}

.input-section{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

#taskInput{
    flex:1;
    padding:12px;
    border:2px solid #cbd5e1;
    border-radius:10px;
    font-size:16px;
}

#taskInput:focus{
    outline:none;
    border-color:#4f46e5;
}

#addBtn{
    background:#4f46e5;
    color:white;
    border:none;
    border-radius:10px;
    padding:12px 18px;
    cursor:pointer;
}

#addBtn:hover{
    background:#4338ca;
}

.filters{
    display:flex;
    justify-content:center;
    gap:10px;
    margin-bottom:20px;
}

.filters button{
    background:#e2e8f0;
    border:none;
    border-radius:8px;
    padding:10px 15px;
    cursor:pointer;
}

.filters button:hover{
    background:#cbd5e1;
}

#taskList{
    list-style:none;
}

#taskList li{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#f8fafc;
    border-left:5px solid #4f46e5;
    padding:15px;
    border-radius:10px;
    margin-bottom:12px;
}

.completed{
    text-decoration:line-through;
    color:#94a3b8;
}

.task-actions{
    display:flex;
    gap:8px;
}

.complete-btn{
    background:#22c55e;
    color:white;
    border:none;
    padding:8px 12px;
    border-radius:6px;
    cursor:pointer;
}

.edit-btn{
    background:#f59e0b;
    color:white;
    border:none;
    padding:8px 12px;
    border-radius:6px;
    cursor:pointer;
}

.delete-btn{
    background:#ef4444;
    color:white;
    border:none;
    padding:8px 12px;
    border-radius:6px;
    cursor:pointer;
}

.footer{
    margin-top:20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

#clearCompleted{
    background:#334155;
    color:white;
    border:none;
    padding:10px 15px;
    border-radius:8px;
    cursor:pointer;
}

#taskCounter{
    font-weight:600;
}

@media(max-width:768px){

    .input-section{
        flex-direction:column;
    }

    #taskList li{
        flex-direction:column;
        align-items:flex-start;
        gap:10px;
    }

    .footer{
        flex-direction:column;
        gap:10px;
    }
}
